ul{
    list-style-type: none;
    clear: both;
    background-color: black;
}

.container_form{
  position: relative;
  top: 70pt;
  width: 100%;
}

.form_1{
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 0pt;
  right: 50%;
  width: 25%;
  margin-left: 10pt;
  margin-right: 10pt;


}

.form_2{
  margin-left: 20pt;
  width: 45%;
  position: absolute;
  top: 75pt;
  bottom: 25%;
  left: 50%;
  right:0%
}


body{


background-size: 100%;
background-repeat: no-repeat;
}


.register{
      font-weight: bold;
      font-size: 15px;
      color: white;
      padding: 10pt;
      background-color:black;
      border-radius: 20pt;
      width: 125px;

}

ul li a {
    text-decoration: none;
    display: block;
    float: left;
    margin: 4pt;
    color: white;
    
}

ul li a:hover{
  background-color: white;
  color:black;
}

.introLogo img {
    display: block;
    height: 100pt;
    width: 200pt;
    float: left;
}

.social-media a {
  width: 10px;
 height: 15px;
}





.form-inline {
  margin: 2pt;
  width: 20%;
}

.form-control-plaintext{
  border: 1pt solid black;
  border-radius: 2pt;
}



ul li {
  align-items: center;
}
.card img{
  width: 250px;
  height: 230px;
}



